{% extends 'ecom/base.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center">Register</h2>

    {% if form.errors %}
        <div class="alert alert-danger" >
            <h4>Form Submission Errors</h4>
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="{% url 'register:user' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="">First Name</label>
                    <input type="text" name="first_name" class="form-control" value="{{ form.first_name.value }}" required>
                </div>
                <div>
                    <label for="">Last Name</label>
                    <input type="text" name="last_name" class="form-control" value="{{ form.last_name.value }}" required>
                </div>
                <div>
                    <label for="">Username</label>
                    <input type="text" name="username" class="form-control" value="{{ form.username.value }}" required>
                    {% if form.username.errors %}
                        {% for item in form.username.errors %}
                            <label class="text-danger">{{ item }}</label>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="email" name="email" class="form-control" value="{{ form.email.value }}" required>
                    {% if form.email.errors %}
                        {% for item in form.email.errors %}
                            <label class="text-danger">{{ item }}</label>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" value="{{ form.password.value }}" required>
                </div>
                <div>
                    <label for="">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" value="{{ form.confirm_password.value }}" required>
                    {% if form.confirm_password.errors %}
                        {% for item in form.confirm_password.errors %}
                            <label class="text-danger">{{ item }}</label>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-10" >
                    <input type="submit" class="btn btn-success" value="Register" >
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}