{% extends 'ecom/base.html' %}

{% block content %}
<div class="container">
    <h2>Orders</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>

        {% if list %}
            {% for item in list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.address }}</td>
                    <td>
                        <a href="{% url 'orders:show' pk=item.order_id %}" class="btn btn-info" >Show</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" >No orders.</td>
            </tr>
        {% endif %}
    </table>
</div>
{% endblock %}