{% extends 'ecom/base.html' %}

{% block content %}
<div class="container">
    <h2>Order Information</h2>

    <div>
        <p>Name: {{ order.name }}</p>
        <p>Phone: {{ order.phone  }}</p>
        <p>Address: {{ order.address  }}</p>
        <p>Payment Id: {{ order.payment_order_id  }}</p>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Rate</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% if order.items.count %}
                {% for item in order.items.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.rate }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" >No products ordered.</td>
                </tr>
            {% endif %}

        </tbody>

        <tfoot>
            {% if order.items.count %}
                <tr>
                    <td colspan="3" ></td>
                    <td>{{ order.total_qty }}</td>
                    <td>{{ order.total_price }}</td>
                </tr>
            {% endif %}

        </tfoot>

    </table>
</div>
{% endblock %}