{% extends 'ecom/base.html' %}

{% block content %}

<div class="container">
    

    <h2>Carts</h2>

    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Rate</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if list %}
                {% for item in list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center" >No records found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</div>


{% endblock %}
