{% extends 'ecom/base.html' %}

{% block content %}

<div class="container">
    

    <h2>Products | <a href="{% url 'products:create' %}" class="btn btn-success"  >Create Product</a></h2>

    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if list %}
                {% for item in list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <a href="{% url 'products:edit' pk=item.product_id %}" class="btn btn-info" >Edit</a>
                            <a href="{% url 'products:remove' pk=item.product_id %}" class="btn btn-danger" >Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center" >No records found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</div>


{% endblock %}